# --- .NET Core ---
**/[Oo]bj/
**/[Bb]in/
.vs/
*.user
appsettings.Development.json

# --- Angular ---
**/node_modules/
**/dist/
**/.angular/cache/

# --- Mac/VS Code ---
.DS_Store
.vscode/launch.json
*.db