.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 400px;
  padding-top: 10px;
}

.row {
  display: flex;
  gap: 16px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

textarea {
  resize: vertical;
}