<div class="kanban-board">
  <div class="board-container">
    <div class="column">
      <h2>Applied ({{ getJobsByStatus(statuses.APPLIED).length }})</h2>

      <div
        cdkDropList
        [cdkDropListData]="getJobsByStatus(statuses.APPLIED)"
        class="job-list"
        id="applied-list"
        [cdkDropListConnectedTo]="columnIds"
        (cdkDropListDropped)="drop($event)"
      >
        @for (job of getJobsByStatus(statuses.APPLIED); track job.id) {
        <mat-card cdkDrag>
          <mat-card-header>
            <mat-card-title>{{ job.jobTitle }}</mat-card-title>
            <mat-card-subtitle>{{ job.companyName }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Applied: {{ job.dateApplied | date : 'mediumDate' }}</p>
          </mat-card-content>

          <mat-card-actions align="end">
            <button mat-button color="primary" (click)="openAnalysis(job.id)">
              <mat-icon>psychology</mat-icon> Analyze
            </button>
          </mat-card-actions>
        </mat-card>
        } @empty {
        <div class="placeholder">Drop applications here</div>
        }
      </div>
    </div>

    <div class="column">
      <h2>Interviewing ({{ getJobsByStatus(statuses.INTERVIEWING).length }})</h2>

      <div
        cdkDropList
        [cdkDropListData]="getJobsByStatus(statuses.INTERVIEWING)"
        class="job-list"
        id="interviewing-list"
        [cdkDropListConnectedTo]="columnIds"
        (cdkDropListDropped)="drop($event)"
      >
        @for (job of getJobsByStatus(statuses.INTERVIEWING); track job.id) {
        <mat-card cdkDrag>
          <mat-card-header>
            <mat-card-title>{{ job.jobTitle }}</mat-card-title>
            <mat-card-subtitle>{{ job.companyName }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Applied: {{ job.dateApplied | date : 'mediumDate' }}</p>
          </mat-card-content>
        </mat-card>
        } @empty {
        <div class="placeholder">Drop applications here</div>
        }
      </div>
    </div>

    <div class="column">
      <h2>Offer ({{ getJobsByStatus(statuses.OFFER).length }})</h2>

      <div
        cdkDropList
        [cdkDropListData]="getJobsByStatus(statuses.OFFER)"
        class="job-list"
        id="offer-list"
        [cdkDropListConnectedTo]="columnIds"
        (cdkDropListDropped)="drop($event)"
      >
        @for (job of getJobsByStatus(statuses.OFFER); track job.id) {
        <mat-card cdkDrag>
          <mat-card-header>
            <mat-card-title>{{ job.jobTitle }}</mat-card-title>
            <mat-card-subtitle>{{ job.companyName }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Applied: {{ job.dateApplied | date : 'mediumDate' }}</p>
          </mat-card-content>
        </mat-card>
        } @empty {
        <div class="placeholder">Drop applications here</div>
        }
      </div>
    </div>

    <div class="column">
      <h2>Rejected ({{ getJobsByStatus(statuses.REJECTED).length }})</h2>

      <div
        cdkDropList
        [cdkDropListData]="getJobsByStatus(statuses.REJECTED)"
        class="job-list"
        id="rejected-list"
        [cdkDropListConnectedTo]="columnIds"
        (cdkDropListDropped)="drop($event)"
      >
        @for (job of getJobsByStatus(statuses.REJECTED); track job.id) {
        <mat-card cdkDrag>
          <mat-card-header>
            <mat-card-title>{{ job.jobTitle }}</mat-card-title>
            <mat-card-subtitle>{{ job.companyName }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Applied: {{ job.dateApplied | date : 'mediumDate' }}</p>
          </mat-card-content>
        </mat-card>
        } @empty {
        <div class="placeholder">Drop applications here</div>
        }
      </div>
    </div>
  </div>
</div>
